# Carpeta de dependencias locales (muy pesada y autogenerada)
node_modules/

# Directorios de producción y compilación de Astro
dist/
.astro/

# Archivos de entorno y secretos locales
.env
.env.production
.env.development
.env.local
.env.*.local

# Archivos de configuración específica de editores y sistemas operativos
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos de reporte y depuración (logs)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
